<div class="modal fade" id="contact-modal" data-backdrop="static" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <a class="close" data-dismiss="modal" aria-label="Close" href="#contact-modal">Close</a>
            <div class="container my-auto">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1>{% t 'modal.contact.title' %}</h1>
                    </div>
                    <div class="col-12">
                        <p>{% t 'modal.contact.text' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>