<footer>

    <div class="container">
        <div class="row" id="about">
            <div class="col-lg-6 col-12">
                <div class="author-name text-lg-left text-center">ALBERT ÁLVAREZ CARULLA</div>
                <div class="attribution text-lg-left text-center">Handmade by me &copy; 2018</div>
            </div>
            <div class="col-lg-6 col-12 social-networks text-lg-right text-center mt-lg-0 mt-3">
                {% if site.linkedin_username %}
                    <div class="social-network">
                        <a class="nav-link circle-icon fa fa-linkedin" target="_blank" href="{{ 'https://www.linkedin.com/in/' | append: site.linkedin_username }}"></a>
                    </div>
                {% endif %}
                {% if site.github_username %}
                    <div class="social-network">
                        <a class="nav-link circle-icon fa fa-github" target="_blank" href="{{ 'https://github.com/' | append: site.github_username }}"></a>
                    </div>
                {% endif %}
                {% if site.twitter_username %}
                    <div class="social-network">
                        <a class="nav-link circle-icon fa fa-twitter" target="_blank" href="{{ 'https://twitter.com/' | append: site.twitter_username }}"></a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

</footer>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="{{ '/assets/js/bootstrap/bootstrap.min.js' | relative_url }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ '/assets/js/typed/typed.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/easing/jquery.easing.compatibility.js' | relative_url }}"></script>
<script src="{{ '/assets/js/scrollreveal/scrollreveal.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/magnific-popup/jquery.magnific-popup.min.js' | relative_url }}"></script>

<!-- Custom scripts for this template -->
<script src="{{ '/assets/js/webdesign-aac/webdesign-aac.js' | relative_url }}"></script>