<div class="modal fade" id="language-selector-modal" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <a class="close" data-dismiss="modal" aria-label="Close" href="#language-selector-modal">Close</a>
        <div class="container my-auto">
            <div class="row">
                <div class="col-12 text-center">
                        <p>{% t 'modal.lang.question' %}:</p>
                </div>                
            </div>
            <div class="row">
                <a class="col-6 text-right nav-link" href="/es">{% t 'modal.lang.spanish' %}</a>
                <a class="col-6 text-left nav-link" href="/en">{% t 'modal.lang.english' %}</a>
            </div>
        </div>            
    </div>
</div>